[2021-06-22 11:56] omjokine opened #1 "next-router-mock doesn't support Next.js 11"
`next-router-mock` doesn't support Next.js 11. When running `npm install`:

[code]

[2021-06-22 19:38] scottrippey commented on #1
Fixed in v0.1.4! I simply changed peerDependencies to `>=10.0.0`.
I have not actually tested this, but anticipate it probably works without change.

[2021-06-22 19:38] #1 closed

[2021-07-25 20:59] bassochette opened #2 "support for i18n locale"
type: feature request

Use case:
I am testing my i18n components. I need the locale support in the useRouter hook.
[code]

I can work and submit a PR if you are ok with it

[2021-07-27 03:39] #2 closed

[2021-07-27 03:42] scottrippey commented on #2
Published to v0.2.0

[2021-08-22 17:23] pgmanutd opened #5 "Usage with `next/link`"
First of all thank you so much for this library. Do you know how we can use it along with `next/link`? For example, clicking on a link and then checking the `pathname`? I somehow managed to make it work. Bit hacky for now:

[code]

and then doing `expect(router.pathname).toBe('/path/name');` in my tests.

Only problem I can see here is around resetting the `pathname`, `query`, `asPath` etc for `ro

[2021-08-23 08:02] pgmanutd opened #6 "Getting `MaxListenersExceededWarning` for `routeChangeComplete` when multiple `next/link` components are used"
Getting `MaxListenersExceededWarning` for `routeChangeComplete` when multiple `next/link` components are used, for example in `Header` component (if component is using `useRouer` from `next/router`):
![image](https://user-images.githubusercontent.com/7638708/130412001-a29fba24-57e0-43a3-8ca0-774ccbfe0c4a.png)

There is a workaround though. We can add this line in the jest setup file:

`require('ev

[2021-08-24 17:54] pgmanutd commented on #6
Looks like `next/router` uses a [modified version](https://github.com/vercel/next.js/blob/canary/packages/next/shared/lib/mitt.ts) of [mitt](https://www.npmjs.com/package/mitt) library for dispatching events. Can we use `mitt` instead of `events` module?

[2021-08-31 08:20] scottrippey commented on #6
I'd be happy to use `mitt` if that brings us inline with the Next  implementation!  I'll see if I can get to it, but if you want to create a PR please lmk.

[2021-08-31 08:24] scottrippey commented on #6
Any idea why so many event listeners are being added?  Maybe there's an actual memory leak in this implementation?  Seems like `mitt` just doesn't have memory-leak detection.

[2021-08-31 10:28] pgmanutd commented on #6
`next/link` [internally](https://github.com/vercel/next.js/blob/canary/packages/next/client/link.tsx#L214) uses `useRouter`, and with `next-router-mock`'s [current implementation](https://github.com/scottrippey/next-router-mock/blob/main/src/router.tsx#L10), `memoryRouter.events.on("routeChangeComplete", handleRouteChange)` will be called everytime a new `next/link` is rendered. If `next/link` cou

[2021-08-31 15:49] scottrippey commented on #6
Oh, I see!  With `events` we start to get warnings when you render more than 10 links.  It seems reasonable to allow more than 10 links!
I looked at `mitt` and it seems perfect, small and lightweight, and especially useful since it's what Next used.  Let's switch!

[2021-08-31 16:44] pgmanutd commented on #6
Cool! Should we just install `mitt` or use this [simple modified version](https://github.com/vercel/next.js/blob/canary/packages/next/shared/lib/mitt.ts) next is using?

[2021-08-31 21:34] scottrippey commented on #6
Ready for review in #7 !

[2021-09-01 03:09] scottrippey commented on #5
I've been looking into it, and might have found a solution...
The problem I found is that `next/link` doesn't import `next/router`, instead it imports from `next/dist/client/router`.  So I changed `jest.mock('next/router', ...)` to this:
[code]
and it seems to be working.

Can you try this solution too, and see if it works?  If so, I can probably document it and put it in the README.

Here's my co

[2021-09-01 03:22] scottrippey commented on #5
I added these unit tests to #8  ... I still need to update the README.
I'm also curious what other `next/*` modules depend on Router, and perhaps if this fix will help those scenarios.

[2021-09-01 08:16] pgmanutd commented on #5
Seems like working for me too. Only error I can see is around [prefetch method](https://github.com/scottrippey/next-router-mock/blob/main/src/MemoryRouter.tsx#L74), where it is throwing **NotImplemented** error when I am running `jest-axe` tests.

[2021-09-02 14:20] markplindsay commented on #5
Hi @scottrippey, thanks for writing `next-router-mock`. I'm trying to get clicks on `next/link` working in my app as well.

@pgmanutd's `next/link` mock in `jest.setup.js` works. Nice!

Calling
[code]
instead of
[code]
does not work, unfortunately. It breaks my tests with the `NotImplemented` error.

[2021-09-02 17:11] scottrippey commented on #5
@markplindsay Will you check if you're on the latest version, `0.2.3` ?
I think that `Not Implemented` error might have been coming from `prefetch`, which I patched in `0.2.3` to not throw anymore.

[2021-09-02 17:17] pgmanutd commented on #5
+1 to @scottrippey. Here is the [PR](https://github.com/scottrippey/next-router-mock/pull/8) with changes.

[2021-09-02 17:30] pgmanutd commented on #5
@scottrippey: Thanks for the latest version. It works seamlessly. All the tests are passing and I also removed `next/link` mocking. [Here is the change](https://github.com/Open-Speech-EkStep/crowdsource-dataplatform/commit/1fdefe9abec504f171177ccb2520262c177baf87) if it helps anyone.

[2021-09-02 17:33] pgmanutd commented on #5
Fixed with https://github.com/scottrippey/next-router-mock/pull/8

[2021-09-02 17:33] #5 closed

[2021-09-02 17:33] pgmanutd commented on #6
Fixed with https://github.com/scottrippey/next-router-mock/pull/7

[2021-09-02 17:33] #6 closed

[2021-09-02 17:49] markplindsay commented on #5
@scottrippey, yep! I was on `0.2.2`. Using `0.2.3` and mocking `next/dist/client/router` instead of `next/router` works perfectly.

Thanks again to you and @pgmanutd.

[2021-09-10 02:40] archansel opened #10 "Usage with storybook"
Hi, you mention this library can be used with storybook but I don't see any documentation for it, is it using MemoryRouter export and put it in component tree?

[2021-09-10 02:49] scottrippey commented on #10
I didn't realize that the docs still said Storybook!  Sorry for the confusion.
As of now, I have NOT tested this repo with Storybook at all, and I'm not totally sure how it can be done.

Probably the easiest way to use it in Storybook is to provide a custom webpack config to alias `next/router`  to `next-router-mock` ... which is very similar to the docs for using `jest.mock('next/router', () => r

[2021-09-10 16:20] scottrippey commented on #10
So, this might be a temporary solution ... I verified it works with Next v10 (but I think v11 might have a different path for importing the context):
[code]

Then, you can either wrap individual stories with `<MemoryRouter>` or you can globally wrap all stories by adding this as a decorator to `storybook/preview.js`.
Examples:

Wrap individual stories:
[code]
or to wrap ALL Storybook stories:
[cod

[2021-09-14 04:17] scottrippey commented on #10
I've created a `<MemoryRouterProvider>` which can be used in Storybook.  Take a look at the PR here! https://github.com/scottrippey/next-router-mock/pull/15

[2021-09-15 21:25] scottrippey commented on #10
Fixed in #15  , published in `v0.4.0`

[2021-09-15 21:25] #10 closed

[2021-09-22 13:56] kiuka opened #19 "Using next-router-mock with class based components"
Hello,

I'm trying to use next-router-mock to test class based components which are using withRouter().

My components looks like this:

[code]

And my test looks like this:

[code]

When I try to run it, it fails:

[code]

As I see there is no reference of withRouter() in the next-router-mock source, so I guess it does not support this.

Can you help me with any workaround? I guess I have to writ

[2021-09-22 17:35] scottrippey commented on #19
You're correct, I have not implemented the `withRouter` method.  However, I do think it would be pretty trivial to implement this, so I'll give it a shot :)
Thank you for the example use-case!

[2021-09-22 17:39] kiuka commented on #19
@scottrippey thank you for your quick answer and to taking care of it! Meanwhile I have sort of copied the code from next/router to make it work, it looks like this now, maybe it can help you as well (probably much less code without types:) ):

[code]

[2021-09-22 22:13] scottrippey commented on #19
Implemented in #20 👍

[2021-09-23 03:08] #19 closed

[2021-09-23 03:08] scottrippey commented on #19
Fixed in `0.5.2`

[2021-09-23 13:42] kiuka commented on #19
You are the best, thank you very much!!

[2021-10-05 03:45] glomotion opened #21 "Bug with Mock Router when pushing query changes:"
ATM it looks like something strange is happening when the mock router fires the onPush event for query changes.

a tested component does:

[code]
but when the tests run, i get this:
[code]
For some reason the query params are parsed erroneously inside of the router. (eg `?0=m&1=o&2=o&3=%3D&4=t&5=r&6=u&7=e` instead of `?moo=true`

[2021-10-06 05:49] glomotion commented on #21
on second thought. I have found why this is happening. It seems nextjs's router can just consume a nice formatted JSON object for query params now, rather than a qs string. :P

[2021-10-06 05:49] #21 closed

[2021-10-12 14:42] myndelx opened #22 "Support for i18n defaultLocale"
Hello :wave:

Is it possible to have the `defaultLocale` property support?

For example:

[code]

Then in our tests, we can set the default locale like this:

[code]

It would be really appreciated!

[2021-10-13 08:59] myndelx commented on #22
Hey @scottrippey! Thanks for your response!

Indeed, your solution works perfectly, both for property value and the type-safety! :-).

From what I know, I don't think it would change anything.

[2021-10-13 19:05] scottrippey commented on #22
Created #23 for improved type defs

[2021-10-18 03:20] #22 closed, assigned to nobody

[2021-10-28 16:13] luchsamapparat opened #25 "Can't perform a React state update on an unmounted component"
Hi,

first of all, thanks for providing this library! I have no idea one should write integration tests for Next.js without it 🤔

I've written a couple of tests for a Next.js page component, but even though all tests basically render the same, only one test throws this warning:

[code]

I tried to create a minimal reproduction of the issue, but I really struggle to pinpoint the underlying problem.

[2021-11-02 19:57] #25 closed

[2021-11-09 10:21] iiroj opened #28 "Version `0.6.2` converts `/` into empty string"
The code here also converts the literal url `"/"` into an empty string `""`:

https://github.com/scottrippey/next-router-mock/blob/8a47b4e4b3a2ebe544b6a4164d95b05e9ed945de/src/MemoryRouter.tsx#L27

This works for a minimum reproduction:

[code]

[code]

[2021-11-09 16:38] scottrippey commented on #28
Thanks for reporting.  Seems like anything that ends with `/` would be incorrectly removed.  Will work on a fix!

[2021-11-09 16:39] scottrippey commented on #28
As a temporary workaround, `0.6.1` does not include this behavior.  `0.6.2` introduced "catch all" slug support, so if that's not needed, rollback for  now.

[2021-11-10 04:15] scottrippey commented on #28
According to [the Next docs about trailing slashes](https://nextjs.org/docs/api-reference/next.config.js/trailing-slash), it looks like Next's default behavior is to omit the trailing slashes.
So, I think this behavior actually seems valid for the default config.  So perhaps this issue only exists if your config has  `trailingSlash: true`?

[2021-11-10 04:34] iiroj commented on #28
When `window.location.pathname === "/"`, then also `router.asPath === "/"`, at least with the real implementation of `next/router` version `11.1.2`. I would assume this mock would behave the same way. I'm not using the `trailingSlash` setting.

[2021-11-10 16:36] scottrippey commented on #28
You're right ... for the empty path scenario, there should always be a `"/"`. It's not a "trailing slash", it's a "starting slash".
I'll push a fix soon!

[2021-11-10 18:55] kamranayub opened #29 "Does not support hash routes"
In next/router proper, I am seeing `asPath` values that include the URL hash as I expect. However, passing hashes to `next-router-mock` is removing hashes. It looks like the pathing logic only deals with `pathname` and `query` but doesn't preserve `hash` so my tests are "passing" even though at runtime the behavior is different (and failing) causing a false-positive test suite.

[code]

[2021-11-11 07:06] scottrippey commented on #29
Fixed in `0.6.3`!

[2021-11-11 07:06] #29 closed

[2021-11-11 07:07] scottrippey commented on #28
Fixed in `0.6.3`!

[2021-11-11 07:07] #28 closed

[2021-11-11 07:19] iiroj commented on #28
@scottrippey thanks! I actually was also bitten by the missing hash, but didn't open an issue yet.

[2021-11-11 14:47] kamranayub commented on #29
You the best!

[2021-12-29 16:53] jantimon opened #31 "Missing Hash events"
Hey there

the memory router helped a lot to create snapshot even for complex components in JEST ❤️

unfortunately the hash routing events are not supported

we will try to prepare a new pr tomorrow

[2021-12-29 17:46] scottrippey commented on #31
Awesome, very happy to accept PRs!
I haven't used hash routing in my apps, but would be grateful for an explanation of your use case ... Either in a PR or as a comment here. Or even just a snippet of a unit test.

[2021-12-30 08:38] jantimon commented on #31
I have to admit that we use hashes only for one edge case.
We have a modal which needs to be closable by using the browser back button.

The solution is simple: opening the modal pushes a hash e.g. '#lightbox=open' closing the modal will remove the lightbox.

The component looks a little bit like this:

[code]

The `useHashState` hook manages the hash state changes:

<details>
 <summary><u><b>Clic

[2022-01-04 09:10] spence-novata opened #33 "Can't mock in other modules with Next 12"
It seems like this is an issue with Next 12 as it affects other scripts in `dist/client` but apart from anything I feel like an issue in `next-router-mock` would be helpful for anyone running into the same problem.

https://github.com/vercel/next.js/issues/32964

[2022-01-04 20:55] scottrippey commented on #33
This seems like an issue with Jest or maybe Next 12, but since it definitely can't be fixed here, I'm going to close this issue.

Hopefully, if others have this issue, the link above will help them find a solution.

[2022-01-04 20:55] #33 closed

[2022-01-05 14:48] #31 closed

[2022-01-05 14:49] jantimon opened #34 "TypeError: Cannot read property '_setCurrentUrl' of undefined"
deconstructing `push` and `replace` breaks the memory router

the following code works for next but not for the memory router:

[code]

![pushError](https://user-images.githubusercontent.com/4113649/148237225-546505ee-6fe7-4558-91fa-971883d62512.png)

[2022-01-05 17:10] #34 closed

[2022-04-07 04:37] raon0211 opened #36 "Reference of `router` returned from `useRouter` is not preserved"
The reference of `router` returned from `useRouter` is not preserved.
This differs from the actual behavior of Next.js, where the singleton router is returned from `useRouter` (thus preserving the reference).

The actual behavior of Next.js is that they make a [subscription](https://github.com/vercel/next.js/blob/canary/packages/next/client/index.tsx#L405) to the router's update and triggers [the

[2022-04-07 15:30] KathrynCrawford opened #38 "Issues with Jest.mock: "cannot read properties of null (reading 'pathname')""
Since NextJS doesn't have native active links, I am using the router to detect the current pathname and make sure it matches up to the Next Link href.

Component:
[code]

In the test, I am mocking the router and setting the current url, but pathname is still undefined when I run the test, causing it to fail. "TypeError: Cannot read properties of null (reading 'pathname')"

Test:
[code]

[2022-04-10 06:24] scottrippey commented on #36
I'm currently on vacation without access to my computer, so I won't be able to test this until next week. But I have some questions in the meantime.

How confident are you that in Next, the `useRouter` reference doesn't change?
I intentionally added the "change the reference" behavior, based on what I thought Next was doing. I even added unit tests for this scenario.
Maybe the behavior has changed

[2022-04-10 06:39] scottrippey commented on #38
I'm currently on vacation without access to my computer, so I won't be able to test this until next week.

However I have some thoughts...

Most likely, this error is because the `jest.mock` call isn't working. This library would never return `null` from `useRouter`, but that is what the native Next would do in a unit test.

What version of Next are you using? If they recently changed the path of

[2022-04-12 00:58] KJoobin opened #39 "Support router.push with optional pathname"
Hi, i'am using this packages but i have one issue, maybe this not support router push with undefined pathname,
[code]

it working in next-router-mock? ( i run add one test-case in your 'pushing URLs should update the route' test but not it's fail)
[code]

[code]

thx

[2022-04-12 01:04] hcharley opened #40 "Type '{ children: Element; }' has no properties in common with type 'IntrinsicAttributes & { url?: Url | undefined; async?: boolean | undefined; } & MemoryRouterEventHandlers'."
# Usage

[code]

# Conjecture

I take it this is related to React 18's dropping of the "implicit" `children` prop from FC:

https://solverfox.dev/writing/no-implicit-children/

[2022-04-14 19:17] #40 closed

[2022-04-14 19:19] scottrippey commented on #40
Published as version `0.6.6`
Please report if this fixes the issue.  Thanks!

[2022-04-14 19:39] scottrippey commented on #39
Currently, this isn't supported by next-router-mock.  I cannot find any [Next.js documentation](https://nextjs.org/docs/api-reference/next/router) that says whether `pathname` is optional.

For now, a workaround would be to do:
[code]

However, this feature could probably be implemented, if you're sure that's how Next.js behaves?  I will try to spin up a test app.

[2022-04-14 19:57] scottrippey commented on #39
Here's a test case that shows what you described; calling `router.push({ query: ... })` does in fact allow `pathname` to be undefined.
https://codesandbox.io/s/great-almeida-6g477w?file=/pages/about.js

I'll see if I can fix this.

[2022-04-14 22:44] hcharley commented on #40
Fixed! 🎊

[2022-04-15 04:07] scottrippey commented on #36
I created a sandbox to test this issue: https://codesandbox.io/s/test-next-router-reference-lqbn0i
What I'm seeing: whenever I call `router.push(...)`, the component re-renders, and the `useRouter()` hook returns a NEW reference each time the `router.query` changes.  When non-route-related changes occur (eg. `setState` is called), the router reference doesn't change.

This is what `next-router-moc

[2022-04-15 04:07] #36 closed

[2022-04-15 05:44] raon0211 commented on #36
Sorry for the late reply.

You are indeed correct; I think since the page component usually unmounts after invoking `router.push` or `router.replace`, we did not encounter the problem of infinite rendering.

It seems that having `router.replace` in the deps of useEffect is not an option because it also runs into infinite rerendering ([Codesandbox](https://codesandbox.io/s/test-next-router-referenc

[2022-04-16 03:41] #39 closed

[2022-04-16 03:42] scottrippey commented on #39
Published as `0.6.7`! Enjoy.

[2022-04-16 03:42] #38 closed

[2022-04-26 13:47] karl-run opened #43 "Difficult to test app dependent on nextjs rewrites"
I might have programmed my self a bit into a corner here, but I have an app where I have the following rewrites:

[code]

I do this in order to have a single page, called `[someId].tsx` to handle both root (e.g. no ID passed), and `/some-route/some-value`. This is of course a bit weird, but that's not important here. :smile: But to handle both rewrites pointing to the same page, I expect, accordin

[2022-04-26 16:23] scottrippey commented on #43
I'm not familiar with Next's `rewrites` feature, so I haven't considered how to handle this situation.  So I'll just share some initial thoughts.

This library has an internally-used property on the `router` object, called `router.pathParser`:
https://github.com/scottrippey/next-router-mock/blob/main/src/MemoryRouter.tsx#L76
[code]

This is used for the "dynamic routes" feature ... but I'm thinkin

[2022-04-26 16:27] scottrippey commented on #43
I would be eager/happy to have better support for rewrites, similar to how we handle dynamic routes.  It would be cool to do something like:
[code]

[2022-04-27 07:32] karl-run commented on #43
`router.pathParser` was kind of exactly what I was looking for. I was scrolling through the properties yesterday looking for something like that but I must have glanced over it. :facepalm:

Your approach of saving the original reference and creating a new pathParser completely solved my problem. Thanks for the quick and in depth response. :smile:

`mockRouter.registerRewrites` would indeed be a co

[2022-05-03 14:29] ipatate opened #44 "Support Dynamic Routes with Next v12 (Cannot find module 'next/dist/server/normalize-page-path')"
hello, i have this error :

[code]
My version of next.js : "12.1.6"

[2022-05-03 17:30] scottrippey commented on #44
I see.  The "dynamic-routes" feature depends on some Next internals, and the path changed between v10 and v11, and now I assume again with v12.

Some quick research shows me they might have moved the file to [`next/dist/shared/lib/page-path/normalize-page-path`](https://github.com/vercel/next.js/blob/canary/packages/next/shared/lib/page-path/normalize-page-path.ts) ...

Until a proper fix is in pl

[2022-05-03 18:54] ipatate commented on #44
thanks scott. I've tried with
[code]
But for the moment, it's not work. I search a solution tomorrow.

[2022-05-05 21:40] kjugi commented on #44
As @scottrippey correctly spotted, this file has been moved to the other path in the v12. The provided **temporary workaround** is almost fine and we have to mark this mock as a `virtual` like below:

[code]

The jest docs about this argument: https://jestjs.io/docs/jest-object#jestmockmodulename-factory-options

[2022-05-06 00:20] scottrippey commented on #44
I think a PR to support this would be pretty easy, since we do the same for v10 and v11. I'll see if I can get that implemented soon.

[2022-05-06 04:20] scottrippey commented on #44
I published this as a prerelease!  Can you test this out, and lmk if it works?

Version `0.6.8-next12.0`

[2022-05-06 05:28] ipatate commented on #44
yes, it's work now ! with version ```0.6.8-next12.0```
and this
[code]
thanks for your work 👍

[2022-05-06 14:10] scottrippey commented on #44
@ipatate Can you also try without that mock? You'll need to change your import to:
[code]

[2022-05-06 15:47] ipatate commented on #44
@scottrippey yes, good with this import 👏🏻 nice !

[2022-05-06 16:54] scottrippey commented on #44
Great, published as version `0.6.8`

[2022-05-06 16:54] #44 closed

[2022-05-22 20:54] kjugi commented on #44
I want to share this just for the record.

The package version `0.6.8` and `0.6.9` will work only from `12.1.6` next version. Before this, the structure was different.

Links to the source:
- until 12.1.5: https://github.com/vercel/next.js/tree/v12.1.5/packages/next/shared/lib
- current state (from 12.1.6): https://github.com/vercel/next.js/tree/v12.1.6/packages/next/shared/lib/page-path

[2022-05-23 03:36] scottrippey commented on #44
Thanks for mentioning it. It's getting tricky to manage all these external dependencies on Next, especially when they change without a major release.
Just thinking out loud, at some point, maybe we could auto detect the correct version. Or maybe we could just copy the dependencies into this project. Either way, it would greatly simplify using these features.

[2022-05-27 08:51] pkawula opened #46 "Property 'registerPaths' does not exits on type 'MemoryRouter'."
Hey,
I have just updated your package from v0.6.3 to v0.6.9 and I have a typescript error when I use registerPaths
Here's my code:
[code]

I think something has changed between these versions and typescript is not able to get the right types

[2022-05-27 11:57] pkawula opened #47 "Issue while running on next 12"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `next-router-mock@0.6.9` for the project I'm working on.

The problem is that next does not export `getRouteRegex` and `getRouteMatcher` from theirs `next/dist/shared/lib/router/utils`
I am using the next@canary (18 currently)

Here is the diff that solved my probl

[2022-05-31 03:36] scottrippey commented on #46
Thanks for mentioning this!  I'm looking into it.

[2022-05-31 03:42] scottrippey commented on #47
Thanks for reporting this.  I've been trying to figure out how to make this code less brittle, since it's currently dependent on these Next-internal paths.
I'll investigate the canary release, and see what I can do to better support the upcoming changes.

[2022-05-31 07:18] scottrippey commented on #47
I was able to add some unit tests to validate the various Next versions, including v10, 11, 12, and canary.   #48
Also, updated the paths for `getRouteRegex / getRouteMatcher` so it will work with Next Canary #49

Published as `v0.6.10`.  Please let me know if it works!  Enjoy!

[2022-05-31 07:18] #47 closed

[2022-06-05 17:14] scottrippey commented on #43
Please see PR #50 to see how I'd like to fix this

[2022-06-05 17:14] scottrippey commented on #46
Please see PR #50 to see how I'd like to fix this

[2022-06-07 18:36] scottrippey commented on #43
@karl-run So with the above PR, this is how you'd handle mocking rewrite logic:
[code]
What do you think?

[2022-06-08 12:03] karl-run commented on #43
That looks pretty good! It would solve my problems.

[2022-06-08 12:05] karl-run opened #51 "Fails on next 12.1.6"
I'm upgrading my app from 12.1.2 to 12.1.6 and it seems some internal next paths have changed, causing the patching to fail.

When I run my tests:

[code]

[2022-06-08 12:21] karl-run commented on #51
After comparing the [changes between 12.1.5 and 12.1.6](https://github.com/vercel/next.js/compare/38d17bca0c34ebcc3055dbdfc42bfff26f88f62e...b188fab3360855c28fd9407bd07c4ee9f5de16a6#diff-9c1a3867443c54525b4f24ef171f231a6e8bb065ffc8b7b62c4843d5ff62dd42) I can see that the file in question has been moved.

From:
`packages/next/server/denormalize-page-path.ts`
To:
`packages/next/shared/lib/page-path/

[2022-06-08 18:14] scottrippey commented on #43
Published as `0.7.0`

[2022-06-08 18:14] scottrippey commented on #46
Published as `0.7.0`

[2022-06-08 18:17] scottrippey commented on #51
FWIW, with the latest publish `0.7.0`, you don't need the `/next-12` path.  You can import like:
[code]
See the newly updated docs, to see how to upgrade.

[2022-06-10 15:21] yusukegoto opened #52 "MemoryRouterProvider/index.d.ts' is not a module."
I see the error since v0.7.0.

[code]

And as error mesage said, `index.d.js` is empty.

[code]

I import it like below. This is the same one written in README.

[code]

Am I missing some configuration?

[2022-06-10 16:49] scottrippey commented on #52
You're right ... the types are broken in the build.  I'll fix this soon.

As a workaround, you can try importing the "explicit version number" like one of these:
[code]

[2022-06-10 17:18] scottrippey commented on #52
Published a fix, try out `0.7.2` and let me know!

[2022-06-11 08:47] yusukegoto commented on #52
@scottrippey

Hi, error has changed. I'm using `MemoryRouterProvider` with storyboard and `<MemoryRouterProvider />` still fails.

`error TS1362: 'MemoryRouterProvider' cannot be used as a value because it was exported using 'export type'.`

Then import with `type` fails.

[code]

[code]

Thanks!

[2022-06-12 04:16] scottrippey commented on #52
I found and fixed the problem, and added a unit test for this scenario!  Thanks for finding it.  Please try version `0.7.3` and LMK!

[2022-06-12 04:16] #52 closed

[2022-06-13 02:27] mmyoji opened #56 "Failed to install due to `postinstall` script on v0.7.3"
Tring to install/upgrade to v0.7.3, `npm install` fails due to `postinstall` script added on 16dd116a53abee422b647022087f202c43b36708.

Does this necessary for users of this package?

[code]

[2022-06-13 03:23] #56 closed

[2022-06-13 03:24] scottrippey commented on #56
Sorry about that, I forgot `postinstall` runs for consumers too!
Fixed in `0.7.4`

[2022-06-13 03:24] mmyoji commented on #56
Thank you for the quick fix! 😄 ✨

[2022-07-01 07:24] mateuszlazar opened #58 "Issue with next/link in Next 12.2.0"
Hello!

I've noticed that after upgrade to newest version of Next 12.2.0 (released 3 days ago) there is an issue with tests utilising Next Link.

[code]
test fails with following error:

After Next downgrade to previous stable version (12.1.6) everything works fine.

I am on the latest version of `next-router-mock`

I suspected that there may be some changes in the paths or refactor of Link compon

[2022-07-01 19:35] scottrippey commented on #58
Looking into the source, I do see some significant changes to `next/link` in the `12.2.0` release...
In `12.1.6`, it was importing the "singleton" router from `next/dist/client/router` like so:
https://github.com/vercel/next.js/blob/v12.1.6/packages/next/client/link.tsx#L12
[code]

But now, it looks like it obtains the router from a Context, like so:
https://github.com/vercel/next.js/blob/canary/p

[2022-07-01 19:41] scottrippey commented on #58
One potential solution/workaround:
[code]
This will replace the `RouterContext` with a new context, defaulted to the singleton mock router.

If this works, it might be worth adding this into the library, like:
[code]

[2022-07-01 20:05] scottrippey commented on #58
For reference, I started this https://github.com/vercel/next.js/discussions/38248 to discuss ways to prevent these kinds of breaking changes.

[2022-07-13 07:24] Damo1155 commented on #58
Thanks for the input.

Just to note though, the above code resolves most of the issue but it still seems like you need both of the following:

[code]

Not having line one continues to break the tests but keeping line one passes them all.

[2022-07-27 16:46] mymactive opened #59 "Failed to jest example code on Readme in Next12.1.6"
Hello!

I've happened to runtime error with the testing readme.

[code]

The test fails with the following error:
[code]
This error occurs with `fireEvent.click`
My environment follows:

- next-router-mock: 0.7.4
- Next: 12.1.6
- React: 17.0.2
- Jest: 28.1.3
- jest-environment-jsdom: 28.1.3
- @testing-library/jest-dom: 5.16.4
- @testing-library/react": 12.1.5
- @testing-library/user-event": 14.3.0

[2022-07-27 16:48] mymactive commented on #59
Solve add the following code to jest.setup.js
Thanks for issue #58

[code]
This code is quoted from [the issue](https://github.com/scottrippey/next-router-mock/issues/58#issuecomment-1182861712)

[2022-08-18 14:55] sedlukha opened #60 "Cannot use default (singleton) router: "You should only use "next/router" on the client side of your app""
Hello! First of all thanks for awesome package, @scottrippey!

I try to mock next-router with storybook. Is it real to mock default Router as we do it for useRouter?

For instance [useRouter](https://github.com/sedlukha/next-router-mock-example/blob/main/pages/useRouter.js) works fine:
<details>
  <summary>useRouter example</summary>

[code]
</details>

But with [default exported Router](https://g

[2022-08-18 20:06] scottrippey commented on #60
Unfortunately, Storybook does not have a per-story way to mock imported modules.  I wish it did!

But, there still might be a solution.  I haven't tried this, but you should be able to add an `alias` to Storybook's webpack config.
This will globally override the router for all your stories:

`.storybook/main.js`
[code]

If you try this, please let me know if it works!  I'd be happy to update the d

[2022-08-18 20:30] sedlukha commented on #60
@scottrippey thanks for answer!

You idea sounds great, but there is something wrongs with initial value in this case.
I pass url to MemoryRouterProvider, but here is what I get:
![image](https://user-images.githubusercontent.com/14075940/185488773-a982c6b8-15bd-41cf-85cc-cb8c87dbf7f9.png)

[2022-08-19 06:40] scottrippey commented on #60
Yeah, here's why: the `MemoryRouterProvider` will only work with the `useRouter()` hook.  It doesn't use the singleton router, it creates its own.  So you can't use it to mock the URL.

Can you explain a little more about your use-case?  Since you're using the singleton router in your code, can I assume you're only using it for `push` or `replace` functionality?  Or, are you actually reading the U

[2022-08-19 06:49] scottrippey commented on #60
My idea is this: I could add a `singleton` property to the `MemoryRouterProvider`, which would tell it to use the singleton router instead of creating its own.  When the component gets mounted, it would set the singleton's URL.

This would allow all the components to play nicely together.  I might even consider making this the default behavior, and perhaps creating an option for "isolated routers"

[2022-08-19 08:26] sedlukha commented on #60
@scottrippey
I use a singleton router for both: read pathname/query and push/replace.

From a Storybook point-of-view, I don't use `<MemoryRouterProvider onPush={...} onReplace={...}> ` events.
I mock the given URL and change it via push/replace inside the story.

My use-case is a complex search page with search results, filters, and a load more button. I write stories with [the play function](htt

[2022-08-19 16:55] scottrippey commented on #60
Thank you for the explanation!  That's a perfectly valid use-case for using the singleton router, so I totally get it.

I'm thinking, it might actually be best for me to update this repo's documentation.  I can add the `webpack alias` configuration as the default approach for mocking in Storybook, since that will cover almost all use-cases.
You wouldn't even need to use the `MemoryRouterProvider`

[2022-08-19 22:00] sedlukha commented on #60
@scottrippey
In my opinion, MemoryRouterProvider should be covered in docs, because it is really important for "isolated" routers.
I can share with you my experience with next-router-mock. I use it on every story to add an isolated URL. That's why I like this package!

But as I wrote earlier, right now webpack alias doesn't work correctly. We alias I can push/replace, but can't set the URL initial

[2022-08-21 19:41] scottrippey commented on #60
I hadn't thought of your use-case before, but now I'm realizing that it's a totally valid, great approach for performance. Using the singleton router (for components that don't need to rerender on URL changes) seems like the right thing to do.

So I guess I'm just trying to think of how to best integrate this with Storybook.

In your example repo, the `MemoryRouterProvider` is only providing an is

[2022-08-22 17:13] scottrippey commented on #60
Ok, well, I've given this more thought.

1. This library should support the singleton router better.  The current approach for unit tests, via `jest.mock`, works fine.  However, the Provider-based approach for Storybook does not work.
2. The only way to enable the singleton router inside Storybook is to use the webpack alias approach.
3. When using the webpack alias approach, the `useRouter` hook

[2022-08-24 09:47] sedlukha commented on #60
Hey @scottrippey! Thanks again for your answers.

I can confirm that SingletonRouterProvider with useEffect works great!
Can't wait to see the next-router-mock new version. But even now everything works fine.

Let me know if I can help you somehow. For example, I can add more examples in my repo and you will add them to the library

[2022-08-24 18:54] sedlukha commented on #60
Oh! I've found new relative issue.

Link doesn't work with alias.

![image](https://user-images.githubusercontent.com/14075940/186499799-c7ade5c6-9acd-4381-86d8-f76c18259344.png)

I've updated example repo:
https://github.com/sedlukha/next-router-mock-example/blob/alias/pages/link.js

[2022-08-24 19:32] scottrippey commented on #60
Yes, I was going to talk about `next/link` because that one is interesting too...

Basically, to mock it using the `alias` approach, you'd need another alias, since `next/link` imports from a different path.
Try adding this to your webpack config:
[code]

[2022-08-24 19:36] sedlukha commented on #60
Yes, I've tried to add this alias. But, unfortunately, doesn't work

[2022-08-31 16:08] sedlukha commented on #60
@scottrippey  may be will be easier to fix it for next 12.2?

12.2.5 also doesn't work, but returns different error. with and without alias:
![image](https://user-images.githubusercontent.com/14075940/187725339-8ad47427-be30-44a7-afb4-982597c34795.png)

example
https://github.com/sedlukha/next-router-mock-example/tree/next.12.2

[2022-08-31 18:30] #59 closed

[2022-08-31 18:30] scottrippey commented on #59
Closing as duplicate of #58
I'm still considering how to fix this.

[2022-08-31 18:33] scottrippey commented on #60
Oh, you're right.  With Next 12.2 they changed the way `next/link` works: #58
There's actually some sample code in that issue that fixes it, but would only work for jest.  It would require a little more work to adapt that workaround to work with Storybook.

I'll keep thinking about it, because it seems like there should be a way to expose a solution that works for all scenarios.

[2022-09-08 19:34] DoctorDerek commented on #58
Having both lines worked for me, but I had an ESLint warning to disable:
[code]

So I swapped the `require` statements for `jest.requireActual`:
[code]

[2022-09-08 20:36] scottrippey commented on #58
Thanks for the feedback!
As a long-term solution, I think it might be good to encapsulate some of this logic inside this package, so you could do:
[code]

But as you can imagine, this is all just excessively brittle -- these internal paths just keep changing.  Perhaps it would be better to mock `next/link` entirely, I'm not sure how hard that would be.

[2022-09-26 13:01] amolagre commented on #60
Hi @scottrippey ,
Any update to  make next/link (12.2) working with storybook.
I'm getting this error while running `npm run storybook`

`ModuleNotFoundError: Module not found: Error: Can't resolve 'next/dist/next-server/lib/router-context' in 'my-project\node_modules\next-router-mock\dist\MemoryRouterProvider'`

[2022-09-28 22:28] scottrippey commented on #58
I've started work on this `router-context` concept, but it's not quite complete, and I'm not sure if it's a long-term solution.  I'll post here as I update.

I'm attempting to get in contact with Vercel directly, so that I can make some headway on a long-term solution.

[2022-09-29 15:12] scottrippey commented on #60
@amolagre  That's a separate issue; you can follow along here: #58

[2022-10-07 04:55] amolagre commented on #60
Hi @scottrippey,

Thanks for update. I see that you are already working on a solution.
And, I'm using `"next-router-mock/MemoryRouterProvider"` only, not the `next-10` version.

[2022-10-07 09:45] mauriceackel opened #63 "Router.push "as" parameter not working"
Hi @scottrippey,

thanks for providing this library! We are currently facing the issue that we want to test the following code using the library:
[code]

We write our assertion as follows:
[code]

However, this assertion will fail, as the `asPath` property will have the value: `/our/path?with=params`. In our opinion, this is wrong as the `asPath` property should have the same value that is passed

[2022-10-07 13:51] phcoliveira commented on #58
I thank you very much for all your efforts, but I wish Next.JS would be shipped with such a thing under a `next/test-support` module. I know that I am not helping, but I am moving to Svelte Kit precisely because of this issue.

[2022-10-08 20:46] scottrippey commented on #63
I haven't personally used the `as` param, so I never implemented it. But I'm grateful for your solution! I'll look at the PR and continue the discussion there.

[2022-10-25 07:15] jantimon opened #65 "feat request: drop support for nextjs 10.x"
hi :)

would it be possible to drop next 10 in a major update?

Vite is not able to compile `next-router-mock` as it can't resolve imports inside `src/MemoryRouterProvider/next-10.tsx`

[2022-10-25 16:23] scottrippey commented on #65
Yes I'll consider it, but first I'd like to check if there's a simple workaround?

First off, are you importing from this path?
[code]
A simple workaround would be to change it to:
[code]

This way, there's no references to the `next-10.tsx` file.

However, if you're not importing from that path, is Vite just loading ALL code from the entire `node_modules/next-router-mock/src/*` codebase?  That wo

[2022-11-06 21:01] #63 closed

[2022-11-07 17:54] scottrippey commented on #58
I've found a fundamental flaw with this approach.  Supplying a "default value" for the context is not a good solution, because the value will never update, so the `next/link` will always be looking at a stale url.
I'm looking for an alternative.

[2022-11-07 17:56] scottrippey commented on #58
The ONLY way I can think of handling this, currently, is for all tests to add a `<MemoryRouterProvider>` wrapper.  I can probably add this feature, but would need help testing it.

Would anyone here be able to test things out, once I get a prerelease published?

[2022-11-09 22:13] vitharanagedonjani-i2e opened #67 "Support Next 13 'next/navigation' router"
Must be nice to have an implementation to mock `useRouter` of `next/navigation`

[2022-11-10 01:17] scottrippey commented on #67
Where do you get this error? Storybook? Jest?
I've done some tests with next 13, and so far things looked good. But I haven't looked at the new `app` infrastructure and whether `next-router-mock` will work with it.

[2022-11-10 08:40] vitharanagedonjani-i2e commented on #67
@scottrippey I got the error in storybook and jest both once I moved to new `app` infrastructure. `useRouter` which was previously imported from `next/router` doesn't work inside `app`. They have introduced a `useRouter` which can be imported from `next/navigation` and it works on client side pages. [Check this url](https://beta.nextjs.org/docs/routing/linking-and-navigating#userouter-hook)

Altho

[2022-11-10 17:27] payable-saul-liang commented on #60
@amolagre I had the same `ModuleNotFoundError` error as you, but it seems to work by importing the `next-12` version specifically:
[code]

[2022-11-11 13:19] Adriangar99 commented on #67
I have the same problem but without the new `app` infra

[2022-11-12 20:14] Pikachews commented on #67
I get the same thing when trying to add MemoryRouterProvider as a storybook decorator, using nextjs 13.0.2

[2022-11-14 17:05] simonedavico commented on #58
I am using your library and would be willing to try a prerelease, let me know if I can help!

[2022-11-15 13:09] e-roy commented on #67
receiving an error in storybook when using the MemoryRouterProvider
`ERROR in ../../node_modules/next-router-mock/dist/MemoryRouterProvider/next-10.js 6:25-76`
`Module not found: Error: Can't resolve 'next/dist/next-server/lib/router-context' in ... `

using nextjs 13.0.3, and NOT using the new `app` infrastructure.
my build is also using turborepo, so I'm not sure if this adds to issue

[2022-11-15 17:26] scottrippey commented on #67
Regarding `MemoryRouterProvider` issues:
In Next 13, they did not change any of the internal paths.  So, I'm having trouble reproducing the issue.  I created #66 to test the Next 13 integration, and tests are passing so far.

Can anyone create a CodeSandbox to demonstrate this issue?  Did anyone upgrade from Next 12, where it was working, and then Next 13 broke?  (just to verify that it's a Next 1

[2022-11-21 23:11] JeffBaumgardt opened #68 "Question: Nested component that has `useRouter` tests are taking much longer"
I pose this as a question and not a bug.

I have a new nextjs instance (13) and I've setup two brief routes.
[code]

The first index, or root, is currently just a span of text. Test is running great.

The second page (test) has a few layout components, ie head, aside, main. I have a navigation link section in the head. The individual links have a `useRouter` hook for active styles.

I mock out the

[2022-11-22 04:26] scottrippey commented on #68
Hmm ... Interesting issue!

My first question is whether you can isolate the problem ... Does commenting out the `useRouter` logic fix it? Or maybe removing half the links, does that speed it up?

In general, `next-router-mock` doesn't do anything expensive. Each `useRouter` call does little more than `Object.assign`.
With a 15s delay, I would guess that you've got a rerender loop, but you should

[2022-11-22 04:28] #65 closed

[2022-11-22 17:09] JeffBaumgardt commented on #68
Yup that was my next steps last night. I'm still trying to track it down, but it is unrelated to the mock router. As I removed the entire header component and it still ran in 10s. I have a working theory that it might have something to do with MUI and emotion, but there's more testing to be done. Sorry for bothering you and wasting an issue.

[2022-11-22 17:09] #68 closed

[2022-11-22 17:56] scottrippey commented on #68
No worries, I appreciate your polite and humble approach, and I'm relieved it's not a mocking issue.